TrabalhoFinal.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -80
      ],
      "id": "cba1a649-52f4-41c5-9b27-ae50b2c9a668",
      "name": "Webhook",
      "webhookId": "4dfe7115-7731-406c-b8f9-97b5ff431ee4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.query.question }}\"\n    }\n  ],\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        -96
      ],
      "id": "0868bdf7-e4ab-4442-b30f-ae685067ec65",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"resposta\": \"{{ $json.message.content }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        -96
      ],
      "id": "60fc42f1-d517-4ea7-8fdc-427722cdda04",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "559b8581-8e55-495d-b1a7-0d30171d90d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e447116e85b286ecb125d3bb630804a3e3e2306c7465502b944c901425c1ff8c"
  },
  "nodeGroups": [],
  "id": "ahzTIayxBQ9e0paw",
  "tags": []
}